<header class="w-full px-10 pb-10 flex items-start flex-col gap-4">
  <h2>Task Tabs</h2>
  <button (click)="taskTabBeingAddedOrEdited.set({})" type="button" class="button-17">
    Add
  </button>
</header>

<section>
  <app-dialog [isOpen]="!!taskTabBeingAddedOrEdited()">
    <ng-template>
      <app-dialog-form [title]="
          taskTabBeingAddedOrEdited()?.title
            ? taskTabBeingAddedOrEdited()!.title!
            : 'Add a Task Tab'
        " [formGroup]="taskTabForm" (close)="taskTabBeingAddedOrEdited.set(null)" />
    </ng-template>
  </app-dialog>
</section>
